html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

@media only screen and (max-width: 1366px) {
    .container-fluid, .signup-MainDiv {
        background-color: #212121;
        color: white;
        padding: 0.5% !important;
    }

    .left-col {
       padding-top: 5%;
    }

    .leftSubWords {
        font-size: 18px !important;
    }


    h3 {
        text-align: justify;
        font-weight: 200 !important;
    }

    span {
        color: tomato;  
        font-weight: bold;
    }


    /*************** right colum starts here *******************/

    .mainTitle {
        margin-top: 10% !important;
        font-size: 40px !important;
        margin-bottom: 0% !important;
    }

    .subTitle {
        font-weight: 300 !important;
        font-size: 15px !important;
        margin-bottom: 5% !important;
    }

    .w-100{
        margin-bottom: 1%;
        padding-right: 19% !important;
    }

    .MuiFormControl-root {
        background-color: #ADB8CA;
        border-radius: 7px;
        width: 40%;
        margin-right: 1% !important;
        padding-left: 1% !important;

    }

    label + .MuiInput-formControl {
        width: 97% !important;

    }

    .MuiInputBase-input:focus {
        /* color: #ADB8CA !important; */
        border-color: #ADB8CA !important;
    }

    .form-personalData {
        margin-bottom: 1.5%;
    }

    .MuiFormControl-root .MuiTextField-root #txt-SignUpUname {
        width: 100% !important;
    }

    .txt-SignUpPass {
        margin-top: 1.5% !important;
    }
}